@model IEnumerable<AppLog>
@{
    Layout = "_LayoutDashBoard";



    ViewData["IndexInfo"] = "Display all the App logs";
}
<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script>
    $(document).ready(function () {

        $("#btnSubmit").click(function (e) {
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: "/Student/SearchAppData/",
                data: {
                    CDate: $("#datePicker").val()
                },
                success: function (customers) {
                    var table = $("#example1");
                    table.find("tr:not(:first:last)").remove();
                    $.each(customers, function (i, customer) {
                        var table = $("#example1");
                        var row = table[0].insertRow(-1);
                        $(row).append("<td />");
                        $(row).find("td").eq(0).html(customer.userId);
                        $(row).append("<td />");
                        $(row).find("td").eq(1).html(customer.host);
                        $(row).append("<td />");
                        $(row).find("td").eq(2).html(customer.date);
                        $(row).append("<td />");
                        $(row).find("td").eq(3).html(customer.app);
                        $(row).append("<td />");
                        $(row).find("td").eq(4).html(customer.appActivity);
                    });
                },
                error: function (result) {
                }
            });
        });
    });
</script>
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="../Student/AppLog">Home</a></li>
                    <li class="breadcrumb-item active">App Log</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<div class="row">
    <div class="col-md-9">

        <div class="box box-primary">
            <div class="card">
                <div class="card-header">
                    <h1 class="card-title">
                        <b>
                            <h4><i class="fas fa-user-graduate"></i> App Log</h4>
                        </b>
                    </h1>
                </div>
                <div class="card-header">
                    <div class="form-group">
                        <div id="datepicker-group" class="input-group date" data-date-format="dd/mm/yyyy">
                            <input type="date" id="datePicker">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            <button id="btnSubmit" class="btn btn-primary" type="submit">Submit</button>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.UserId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Host)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Date)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.App)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.AppActivity)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)



                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UserId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Host)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Date)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.App)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AppActivity)
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.UserId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Host)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.Date)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.App)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.AppActivity)
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <!-- /.box-body -->
            <div class="box-footer no-padding">
            </div>
        </div>
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
<!-- DataTables -->
